@charset "UTF-8";
:root {
  --general-color:#212121;
  --aсcent-color:#2196F3;
  --background-сolor: #2F303A ;
  --text-color:#757575;
  --litter-color-white:#ffffff;
  --heder-height:80px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--general-color);
  background-color: var(--litter-color-white);
}

.list {
  list-style: none;
}

.top-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .top-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link:hover,
.link:focus {
  color: var(--aсcent-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 450px;
  width: 100%;
  max-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  background: #FFFFFF;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--general-color);
}

.modal-close-btn:hover {
  fill: var(--aсcent-color);
}

.modal-btn:hover {
  fill: var(--aсcent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-field {
  margin-bottom: 28px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--aсcent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--aсcent-color);
}

.modal-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  outline: none;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 9px;
  cursor: pointer;
}

.modal-check:checked + .check-text::before {
  background-color: var(--aсcent-color);
  background-image: url(../images/check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-check:focus + .check-text::before {
  border-color: var(--accent-color);
}

.modal-link {
  cursor: pointer;
  color: var(--aсcent-color);
  text-decoration: underline;
}

.modal-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--aсcent-color);
  color: var(--litter-color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.modal-submit:hover, .modal-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #188CE8;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--general-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.link {
  color: var(--general-color);
  text-decoration: none;
}

.header__logo {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header {
  height: var(--heder-height);
  border-bottom: 1px solid #ECECEC;
  width: 100vw;
  max-height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    max-height: 80px;
  }
}
.header .container {
  display: flex;
  align-items: center;
}

.currentlink {
  color: var(--aсcent-color);
}

span {
  color: var(--aсcent-color);
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.nav__list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: var(--general-color);
}

.list-link {
  display: none;
}
@media screen and (min-width: 768px) {
  .list-link {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .list-link {
    flex-wrap: nowrap;
    margin-left: auto;
  }
}

.nav__top-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__top-link:hover, .nav__top-link:focus {
  color: var(--aсcent-color);
}

.list-link__icon {
  fill: var(--text-color);
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .list-link__icon {
    margin-right: 10px;
  }
}
.list-link__contact:hover .list-link__icon, .list-link__contact:focus .list-link__icon {
  fill: var(--aсcent-color);
}

.list-link__contact {
  font-size: 12px;
  line-height: 1.1666666667;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .list-link__contact {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
.list-link__contact:hover, .list-link__contact:focus {
  color: var(--aсcent-color);
}

.list-link__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .list-link__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .link.currentlink::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--aсcent-color);
    border-radius: 2px;
    left: 0;
    bottom: -32px;
  }
}
.menu-open-btn {
  display: block;
  margin-left: auto;
  background-color: #ffffff;
  border: none;
}

.menu-close-btn {
  position: absolute;
  top: 12px;
  right: 25px;
  display: block;
  background-color: #ffffff;
  border: none;
}

.menu-open-btn:hover,
.menu-close-btn:hover {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}
.mob-menu .container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu-item .mob-link:hover {
  color: var(--aсcent-color);
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 36px;
}

.mob-connect-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect-link-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-connect-link-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc-list {
  position: relative;
  display: flex;
  margin-top: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-soc-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  background-color: var(--background-сolor);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px 198px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-2x.jpg);
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--litter-color-white);
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--aсcent-color);
  font-family: inherit;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--litter-color-white);
  padding: 10px 32px;
  margin: 30px auto 0;
  border: 1px solid var(--aсcent-color);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .plan__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .plan__item {
    width: calc((100% - 120px) / 4);
  }
}

.plan__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.plan__title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.plan__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.plan__icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.prise {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .prise {
    display: block;
  }
}
.prise__title {
  margin-bottom: 50px;
}
.prise__list {
  display: flex;
  justify-content: space-between;
}
.prise__item {
  position: relative;
}
.prise__image {
  display: block;
  min-width: 100%;
  height: auto;
}
.prise__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.our-team {
  background: #F5F4FA;
}

.our-team__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .our-team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.our-team__title-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  color: var(--general-color);
  margin-bottom: 10px;
}

.our-team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-team__cards {
  margin: 0 auto;
  width: 450px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .our-team__cards {
    width: calc((100% - 60px) / 2);
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__cards {
    width: calc((100% - 120px) / 4);
    height: 428px;
  }
}

.our-team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  color: var(--text-color);
}

.team-soc-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.team-soc-list__item:last-child {
  margin-right: 0;
}

.team-soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-list__link:hover, .team-soc-list__link:focus {
  background-color: var(--aсcent-color);
}

.team-soc-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.team-soc-list__icon {
  fill: #AFB1B8;
}
.team-soc-list__link:hover .team-soc-list__icon, .team-soc-list__link:focus .team-soc-list__icon {
  fill: var(--litter-color-white);
}

.our-team__list-text {
  padding: 30px 0;
  text-align: center;
}

.clients-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 80px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: calc((100% - 60px) / 2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: 210px;
    height: 92px;
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 180px) / 6);
  }
}
.clients-item:hover, .clients-item:focus {
  border: 1px solid #2196F3;
}

.clients-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:hover .clients-icon, .clients-item:focus .clients-icon {
  fill: var(--aсcent-color);
}

.footer {
  padding-bottom: 60px;
  background: var(--background-сolor);
}

@media screen and (min-width: 768px) and (max-width: 1198px) {
  .tablet-footer {
    display: flex;
    justify-content: space-evenly;
  }
}
.footer-logo {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  margin-bottom: 20px;
  color: var(--litter-color-white);
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: start;
  }
}

.footer-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:not(:last-child) {
  margin-bottom: 8px;
}
.footer-link:hover, .footer-link:focus {
  color: var(--aсcent-color);
}

.footer-list {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-list {
    text-align: start;
  }
}

.footer-soc-secondary-list {
  margin-top: 60px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-top-list {
    display: flex;
    align-items: baseline;
  }
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--litter-color-white);
}

.footer-address-list {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-address-list {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
}

.footer-address {
  display: block;
  margin-top: 9px;
  font-style: normal;
}

.footer-soc-list {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.soc-title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-soc-icon {
  fill: var(--litter-color-white);
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--aсcent-color);
}

.form-title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--litter-color-white);
}

.footer-input {
  width: 100%;
  height: 50px;
  background-color: var(--background-сolor);
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.mail-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
}
@media screen and (min-width: 1200px) {
  .mail-btn {
    margin-left: 12px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 0;
    margin-left: auto;
  }
}

.form-wrap {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .form-wrap {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-wrap {
    display: flex;
  }
}

.footer-send-icon {
  margin-left: 10px;
}

.portfolio-top-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-top-list {
    justify-content: center;
    margin-bottom: 50px;
  }
}
.footer-tablet {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
  }
}

.portfolio-link {
  display: block;
}
.portfolio-link:hover, .portfolio-link:focus {
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.potfolio-cards-item:hover .portfolio-secondary-text {
  transform: translateY(0);
}

.portfolio-btn.btn-all {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
}

.portfolio-btn {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--general-color);
  background: #F5F4FA;
  border-radius: 4px;
  border: #F5F4FA;
  width: 128px;
  height: 38px;
  left: 712px;
  top: 174px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .portfolio-btn {
    width: 145px;
  }
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--litter-color-white);
  background-color: var(--aсcent-color);
}

.portfolio-link {
  text-decoration: none;
  color: var(--general-color);
}
@media screen and (min-width: 768px) and (max-width: 1198px) {
  .portfolio-link .first-card-title {
    padding-bottom: 56px;
  }
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--general-color);
}

.portfolio-top-text:first-child {
  padding-bottom: 56px;
}

.portfolio-top-text {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-secondary-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  width: 100%;
  height: 404px;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  transform: translateY(100%);
  color: #FFFFFF;
  padding-top: 63px;
  padding-left: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.potfolio-cards-item {
  width: 100%;
  height: 404;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .potfolio-cards-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .potfolio-cards-item {
    width: calc((100% - 90px) / 3);
    width: 370px;
  }
}
.potfolio-cards-item:hover, .potfolio-cards-item:focus {
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */