.footer{
  
   
    padding-bottom: 60px;
    background: var(--background-сolor);
  }
  @media screen and (min-width:768px) and (max-width:1198px) {
    .tablet-footer{
      display: flex;
      justify-content: space-evenly;
    }
  }
  .footer-logo{
    display: block;
    text-align: center;
    font-weight: 700;
  font-size: 26px;
  line-height:calc(31/26) ;
  margin-bottom:20px ;
  color: var(--litter-color-white);
  
  
  }
  
  .footer-link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:not(:last-child){
        margin-bottom: 8px;
      }
      &:hover,
      &:focus{
        color: var(--aсcent-color);
      }
  }
  
  .footer-list{
   display:block;
   text-align: center
    
  }
  .footer-soc-secondary-list{
    
    margin-top: 60px;
  }


  .footer-address{
    @include font(14px, null, 1.71, 0.03em);
  
  color: rgba(255, 255, 255, 0.6);
  }
  .footer-top-list{
    @include desktop{
      display: flex;
    align-items: baseline;
    
    }
  }
  
  .address{
    @include font(14px, null, 1.71, 0.03em);
    font-style:normal;
  color: var(--litter-color-white);
  }
  .footer-address-list{
   
    
    padding-top: 60px;
   @include desktop{
margin-right: 70px;
   }
    
  }
  
  .footer-address{
    display: block;
    margin-top: 9px;
    font-style:normal;
  }
  .footer-soc-list{
    margin-bottom:60px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
  }
  
  .soc-title{
    text-align: center;
    @include font(14px, 700, 1.71, 0.03em);
  text-transform: uppercase;

  color: #FFFFFF;
  }
  .footer-soc-icon{
    fill: var(--litter-color-white);
  }
  
  
  
  .footer-soc-item{
    width: 44px;
     height: 44px;
     margin-right: 10px;
     background: rgba(255, 255, 255, 0.1);
     border-radius: 50%;
  }
  
  .footer-soc-link{
    width: 100%;
     height: 100%;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
     &:focus{
    background-color: var(--aсcent-color);
  }
     
  }
  
  .form-title{
    text-align: center;
    @include font(14px, 700, 1.71, 0.03em);
  text-transform: uppercase;
  color: var(--litter-color-white);
  }
  
  .footer-input{
    
    width: 100%;
    height: 50px;
    background-color:var(--background-сolor) ;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    margin-bottom: 20px;
    outline:none;
    border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @include tablet{
    width:450px;
    
  }
  @include desktop{
    width:358px ;
  }
  }
  .mail-btn{
    @include font(16px, 700, 1.88, 0.06em);
    display: flex;
    align-items:center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin:0 auto;
  cursor:pointer;
  color: #FFFFFF;
  border: none;
  }
  
  .footer-form{
    @include tablet{
      margin-top: 60px;
    }
    

    
    @include desktop{
      margin-top: 0;
margin-left: auto;
    }
  }
  
  .form-wrap{
    
    margin-top: 20px;
    @include tablet{
      text-align: center;
    }
    @include desktop{
display: flex;
    }

  }
  .footer-send-icon{
    margin-left: 10px;
  }