.container{
    width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   
    @include tablet  {
      width: 768px;
    }

    @include desktop{
      width: 1200px;
    }
  }